.img-fluid {
    width: 200px;
    height: auto;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }
  
  @media screen and (max-width: 768px) {
    .img-fluid {
      width: 150px;
    }
  }
  
  [data-parallax="scroll"][data-speed] {
    opacity: 0;
    transform: translate(-50%, calc(50% + 100px));
  }
  
  [data-parallax="scroll"][data-speed].moved {
    transform: translate(-50%, calc(50% + 200px));
  }